.liblue{
    color: #c3d8ff;
    font-size: 15px;
  }
  .lineht{
      line-height: 1.5;
  }
  .tablecol{
    padding: 0.85rem;
    font-size: 13px;
    text-align: center;
    border-color: #fff;
    border: 1px solid #dee2e6;
    font-weight: 700;
    color: #ffffff;
    background: #142549;
}