.roundcorner {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.bg-color {
    background-color: #142347;
    color: white;
}
h1 {
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    margin: 4px;
    padding: 2px;
}
.bggrey {
    background: #eaeef3;
}
.text-center{
    text-align: center;
}