<app-header></app-header>

<ion-content>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <ion-grid class="bggrey">
    <ion-row>
      <ion-col size-md="9" offset-md="3" class="ion-text-left bg-color roundcorner">
        <h1>Report Card</h1>
      </ion-col>
    </ion-row>



    <ion-row>
      <ion-col size-sm="12">
        <ion-item>
          <ion-label>Select Session</ion-label>
          <ion-select ok-text="Okay"   cancel-text="Cancel"  [(ngModel)]="session" name="session">
            <ion-select-option *ngFor="let session of sessionyear" value={{session.id}}>{{session.sessionYear}}</ion-select-option>
           
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col size-sm="12">
        <ion-item>
          <ion-label>Select Result Type</ion-label>
          <ion-select ok-text="Okay" cancel-text="Cancel" [(ngModel)]="resulttype" name="resulttype" (ionChange)="filterResultType($event.target.value)">
            <ion-select-option *ngFor="let result of resultType"  value={{result.Id}}>{{result.Value}}</ion-select-option>
           
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col size-sm="12">
        <ion-item>
          <ion-label>Select Evalution Type</ion-label>
          <ion-select ok-text="Okay"  name="evalutiontype" [(ngModel)]="evalutiontypeId" cancel-text="Cancel">
            <ion-select-option *ngFor="let result of evalutionType" value={{result.Id}}>{{result.Value}}</ion-select-option>
           
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size-sm="12" class="text-center">


        <ion-button type="submit" size="small">Download Result</ion-button>

      </ion-col>
    </ion-row>
 </ion-grid>
  </form>
</ion-content>