
<ion-content class="ion-padding">
  <ion-grid>
  <ion-row>
    <ion-col size-sm="6" offset-sm="3">
  <ion-item class="logo text-center">
    
    <a href="#" >
      <!-- <strong class="logo_icon">                            <img  src="assets/images/saluja.png" alt="">                        </strong> -->
      <span class="logo-default logo">
        <ion-img src="/assets/saluja.png"></ion-img>
 
      </span>
    </a>
 
  </ion-item>
<ion-item lines="none" class="text-centerlab" >
  
    <h3>Student's Login</h3>
  
  </ion-item>
  </ion-col>

   </ion-row>

  </ion-grid>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-grid>
    
      <ion-row>
      
    
   
        <ion-col size-sm="6" offset-sm="3">
          <ion-list>
            <ion-item>
              <ion-label position="floating">User Id</ion-label>
              <ion-input
                type="text"
                ngModel
                name="email"
                required
                #emailCtrl="ngModel"
              ></ion-input>
            </ion-item>
            <ion-item
              *ngIf="!emailCtrl.valid && emailCtrl.touched"
              lines="none"
            >
              <ion-label>
                Should be a valid user Id .
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input
                type="password"
                ngModel
                name="password"
                required
                minlength="6"
                #passwordCtrl="ngModel"
              ></ion-input>
            </ion-item>
            <ion-item
              *ngIf="!passwordCtrl.valid && passwordCtrl.touched"
              lines="none"
            >
              <ion-label>
                Should at least be 6 characters long.
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button class="loginButton"
            type="sumbit"
           
            fill="clear"
            expand="block"
            (click)="onSwitchAuthMode()"
          >
          Login
            <!-- Switch to {{ isLogin ? 'Signup' : 'Login' }} -->
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button class="loginButton"
            type="sumbit"
           
            fill="clear"
            expand="block"
          
          >
          forgot password
            <!-- Switch to {{ isLogin ? 'Signup' : 'Login' }} -->
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  <!-- <div class="ion-text-center">
    <ion-spinner color="primary" *ngIf="isLoading"></ion-spinner>
  </div> -->
</ion-content>
