
<ion-content class="ion-padding">
  <ion-grid>
  <ion-row>
    <ion-col size-sm="6" offset-sm="3">
  <ion-item class="logo text-center">
    
    <a href="#" >
      <!-- <strong class="logo_icon">                            <img  src="assets/images/saluja.png" alt="">                        </strong> -->
      <span class="logo-default logo">
        <ion-img src="/assets/saluja.png"></ion-img>
 
      </span>
    </a>
 
  </ion-item>
<ion-item lines="none" >
  
  <ion-title style="text-align:center">{{ isLogin ? "Student's Login" : "Forgot Password" }}</ion-title>
</ion-item>
  </ion-col>

   </ion-row>

  </ion-grid>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-grid>
    
      <ion-row>
      
    
   
        <ion-col size-sm="6" offset-sm="3">
          <ion-list>
            <ion-item>
              <ion-input
                type="text"
                ngModel
                name="email"
                required
                #emailCtrl="ngModel"
                placeholder="{{ isLogin ? 'User Id' : 'Admission Id' }}"
              ></ion-input>
            </ion-item>
            <ion-item
              *ngIf="!emailCtrl.valid && emailCtrl.touched"
              lines="none"
            >
              <ion-label>
                Should be a valid user Id .
              </ion-label>
            </ion-item>
            <ion-row>
              <ion-col>
            <ion-item>
              <ion-input
                type="text"
                ngModel
                name="otp"
                required
                #emailCtrl="ngModel"
                placeholder="Enter OTP"
              ></ion-input>
            </ion-item>
           </ion-col>

           <ion-col>
           
              <ion-button size="small" style="margin-top: 10px;
              margin-left: 30px; background: #34bfa3;" (click)="SentOtp()">Send OTP</ion-button>
            
           </ion-col>
            </ion-row>
          <ion-item class="i2"no-lines>
            <ion-input required type="{{type}}"  minlength="6" #passwordCtrl="ngModel"
             name="password" ngModel
             placeholder="Password" style="width: 40px;" no-lines>
            </ion-input>
            <button style="background: none;"  *ngIf="!showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()"> 
               <ion-icon name="eye" style="font-size:25px;"></ion-icon>
            </button>
            <button style="background: none;"  *ngIf="showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()"> 
               <ion-icon name="eye-off" style="font-size:25px;"></ion-icon>
            </button>
         </ion-item>
            <ion-item
              *ngIf="!passwordCtrl.valid && passwordCtrl.touched"
              lines="none"
            >
              <ion-label>
                Should at least be 6 characters long.
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button  class="loginButton"
          type="submit"
          fill="clear"
          expand="block"
          
        >
          {{ isLogin ? 'Login' : 'Reset' }}
        </ion-button>
          <ion-button class="loginButton"  style="background: #279ed1;" 
          type="button"
           
            fill="clear"
            expand="block"
            (click)="onSwitchAuthMode()"
          >
          
            Switch to {{ isLogin ? ' forgot password' : 'Login' }}
          </ion-button>
         
        </ion-col>
      </ion-row>
      <!-- <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button class="loginButton"
            type="sumbit"
           
            fill="clear"
            expand="block"
           (click)="onSwitchAuthMode()"
          >
          forgot password
           
          </ion-button>
        </ion-col>
      </ion-row> -->
    </ion-grid>
  </form>

  <!-- <div class="ion-text-center">
    <ion-spinner color="primary" *ngIf="isLoading"></ion-spinner>
  </div> -->
</ion-content>
