<app-header></app-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="9" offset-md="3" class="ion-text-center bg-color">
        <h1>Home work</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <!-- <ion-col size-md="3" offset-md="3" class="ion-text-center">
        <ion-item>
          <h6>Id</h6>
        </ion-item>
      </ion-col> -->
      <ion-col size-md="5" class="ion-text-center">
        <ion-item>
          <h6>Subject</h6>
        </ion-item>
      </ion-col>
      <ion-col size-md="7" class="ion-text-center">
        <ion-item>
          <h6>View</h6>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let homework of homeworkDetails">
      <!-- <ion-col size-md="3" offset-md="3" class="ion-text-center">
        <ion-item>
          <h6>{{homework.AssId}}</h6>
        </ion-item>
      </ion-col> -->
      <ion-col size-md="5" class="ion-text-center">
        <ion-item>
          <h6>{{homework.Subject}}</h6>
        </ion-item>
      </ion-col>
      <ion-col size-md="7" class="ion-text-center">
        <ion-item>
          <ion-button color="primary" [disabled]="homework.Status"
             margin (click)="onBookPlace(homework.AssId)"
          >
          <ion-icon name="cloud-upload-outline"></ion-icon>
        </ion-button>
          <ion-button color="primary" margin (click)="onViewHomework(homework.AssId)"
          ><ion-icon name="eye-outline"></ion-icon></ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
