<app-header></app-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="9" offset-md="3" class="ion-text-center bg-color">
        <h1>Home work</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="3" offset-md="3" class="ion-text-center">
        <ion-item>
          <h6>Id</h6>
        </ion-item>
      </ion-col>
      <ion-col size-md="3" class="ion-text-center">
        <ion-item>
          <h6>Subject</h6>
        </ion-item>
      </ion-col>
      <ion-col size-md="3" class="ion-text-center">
        <ion-item>
          <h6>View</h6>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="3" offset-md="3" class="ion-text-center">
        <ion-item>
          <h6>1235455</h6>
        </ion-item>
      </ion-col>
      <ion-col size-md="3" class="ion-text-center">
        <ion-item>
          <h6>Math</h6>
        </ion-item>
      </ion-col>
      <ion-col size-md="3" class="ion-text-center">
        <ion-item>
          <ion-button color="primary" margin (click)="onBookPlace()"
          >Book</ion-button
        >
        </ion-item>
      </ion-col>
    </ion-row>

  </ion-grid>
  
</ion-content>
