<app-header></app-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="9" offset-md="3" class="ion-text-center bg-color roundcorner">
        <h1>Homework</h1>
      </ion-col>
    </ion-row>
    <ion-card>
      <ion-row class="nameClass" style='height: 100%'>
        <ion-col class="tablecol">
          <div>
            Subjects
          </div>
        </ion-col>
        <ion-col class="tablecol">
          <div>
            Action
          </div>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let subject of subjectGroupArray" class="nameClass" style='height: 100%'>
       <ion-col class="tablecol1">
          <div class="subclass" style="font-weight: 600;">
            {{subject?.Subject}}
            <ion-badge color="danger dangerbadge">{{subject?.SubjectCount}}</ion-badge>
          </div>
        </ion-col>
        <ion-col class="tablecol1">
          <ion-item lines="none" class="viewdisp">
            <ion-button (click)="showHomeBySubject(subject?.SubjectId)" 
            color="primary">
              view
            </ion-button>
           </ion-item>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-grid>
</ion-content>