<ion-header>
  <ion-toolbar>
    <ion-title> Homework Detail</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>

    <ion-card>

      
      <ion-row class="nameClass" justify-content-center align-items-center style='height: 100%'>

        <ion-col class="tablecol">
          <div class="lineht">
            Homework ID : <br> <span class="liblue">{{homework.AssId}}</span>
          </div>
        </ion-col>
        
        


      </ion-row>
      <ion-row class="nameClass" justify-content-center align-items-center style='height: 100%'>
      <ion-col class="tablecol1">
        <div class="subclass">
          Subject
        </div>
      </ion-col>
      <ion-col class="tablecol12">
        <div class="subclass">
          {{homework.Subject}}
        </div>
      </ion-col>
      </ion-row>
      <ion-row class="nameClass" justify-content-center align-items-center style='height: 100%'>
        <ion-col class="tablecol1">
          <div class="subclass">
            Assigned By
          </div>
        </ion-col>
        <ion-col class="tablecol12">
          <div class="subclass">
            {{homework.AssignedBy}}
          </div>
        </ion-col>
        </ion-row>

        <ion-row class="nameClass" justify-content-center align-items-center style='height: 100%'>
          <ion-col class="tablecol1">
            <div class="subclass">
              Date
            </div>
          </ion-col>
          <ion-col class="tablecol12">
            <div class="subclass">
              {{homework.Date}}
            </div>
          </ion-col>
          </ion-row>

          <ion-row class="nameClass" justify-content-center align-items-center style='height: 100%'>
            <ion-col class="tablecol1">
              <div class="subclass">
                Last Submission Date
              </div>
            </ion-col>
            <ion-col class="tablecol12">
              <div class="subclass">
                {{homework.LastUploadDate}}
              </div>
            </ion-col>
            </ion-row>
            <ion-row class="nameClass" justify-content-center align-items-center style='height: 100%'>
              <ion-col class="tablecol1">
                <div class="subclass">
                  Status
                </div>
              </ion-col>
              <ion-col class="tablecol12">
                <div class="subclass" *ngIf="!homework.Status" class="danger">
                  Pending
                </div>
                <div class="subclass" *ngIf="homework.Status" class="success">
                  Completed
                </div>
              </ion-col>
              </ion-row>


              <ion-row class="nameClass" justify-content-center align-items-center style='height: 100%'>
                <ion-col class="tablecol1">
                  <div class="subclass">
                    Download File
                  </div>
                </ion-col>
                <ion-col class="tablecol12">
                  <div class="subclass">
                    <ion-button class="round" (click)="download(homework.DownloadFileURL)"> <ion-icon margin 
                      name="download-outline" ></ion-icon></ion-button>
                  </div>
                </ion-col>
                </ion-row>


    </ion-card>












    
  </ion-grid>
  
</ion-content>
