<ion-app>
  <ion-menu *ngIf="previousAuthState" side="start">

    <ion-content>
      <ion-list>
        <ion-menu-toggle  style="background-color: blue;">
          <ion-item (click)="updateActiveRoute('dashboard')" lines="none" class="listItBg" routerLink="/dashboard">
            <ion-icon [style.color]="activatedClass.dashboard ? '#EF3B51' : '' " name="business" slot="start" ></ion-icon>
            <ion-label [style.color]="activatedClass.dashboard ? '#EF3B51' : '' ">Dashboard</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" (click)="updateActiveRoute('homework')"  class="listItBg" routerLink="/homework">
            <ion-icon  [style.color]="activatedClass.homework ? '#EF3B51' : '' "  name="book-outline" slot="start"></ion-icon>
            <ion-label  [style.color]="activatedClass.homework ? '#EF3B51' : '' " >HomeWork</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" (click)="updateActiveRoute('attendance')" routerLink="/attendence">
            <ion-icon [style.color]="activatedClass.attendance ? '#EF3B51' : '' " name="calendar-outline" slot="start"></ion-icon>
            <ion-label [style.color]="activatedClass.attendance ? '#EF3B51' : '' ">Attendance</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" (click)="updateActiveRoute('reportCard')" routerLink="/reportcard">
            <ion-icon [style.color]="activatedClass.reportCard ? '#EF3B51' : '' " name="stats-chart-outline" slot="start"></ion-icon>
            <ion-label [style.color]="activatedClass.reportCard ? '#EF3B51' : '' "> Report Card</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" (click)="updateActiveRoute('notice')" routerLink="/homework">
            <ion-icon [style.color]="activatedClass.notice ? '#EF3B51' : '' " name="notifications-outline" slot="start"></ion-icon>
            <ion-label [style.color]="activatedClass.notice ? '#EF3B51' : '' ">Notice</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" (click)="updateActiveRoute('queries')" routerLink="/homework">
            <ion-icon [style.color]="activatedClass.queries ? '#EF3B51' : '' " name="help-outline" slot="start"></ion-icon>          
              <ion-label [style.color]="activatedClass.queries ? '#EF3B51' : '' ">Queries</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" (click)="updateActiveRoute('myProfile')" routerLink="/profile">
            <ion-icon [style.color]="activatedClass.myProfile ? '#EF3B51' : '' " name="person-circle-outline" slot="start"></ion-icon>          
              <ion-label [style.color]="activatedClass.myProfile ? '#EF3B51' : '' ">My Profile</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" (click)="onLogout()" button>
            <ion-icon name="exit" slot="start"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
