<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
      
      <ion-button  slot="secondary" class="badge-button" routerLink="/notifications/" routerDirection="forward">
        <ion-icon size="large" name="notifications-circle-outline">
        </ion-icon>
        <ion-badge  color="danger"></ion-badge>
      </ion-button>
    <ion-buttons slot="primary" class="profile">
      <ion-button fill="solid" color="secondary">
        Help
        <ion-img src="" slot="end" name="help-circle"></ion-img>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
