<ion-header>
 
  <ion-toolbar>
  
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  
  <ion-row>
    <ion-col size="3">
  
      <ion-icon size="large" name="notifications-circle-outline" style="margin-top: 17px;
      margin-left: 8px;"  [style.color]="'white'"> </ion-icon>
      <ion-badge color="danger">1</ion-badge>
    
    </ion-col>
<ion-col size="6" class="ion-item-background">
  <ion-avatar>
    <ion-img src="/assets/logo2.png" style="margin-left: 26px;"></ion-img>
  </ion-avatar>
</ion-col>

  <ion-col size="3">

    <ion-avatar class="studentProfile">
  <ion-img  size="small" src="/assets/student.jpg" ></ion-img>
  </ion-avatar>
</ion-col>
</ion-row> 
  </ion-toolbar>
  
</ion-header>
