<app-header></app-header>
<ion-content>
 
  
  <ion-grid>
    <ion-row>
      <ion-col  text-center>

        <div>
          <p style="margin-bottom: 5px; font-size: 14px;">WELCOME</p>
          <h1 style="font-size: 20px;color: black;font-weight: 500; margin-top: 5px;">{{studentDetail?.Name}} {{studentDetail?.LastName}} <span style="float:right; font-size: 12px;margin-top: 6px;">{{studentDetail?.ClassName}} - {{studentDetail?.SectionName}}</span></h1>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12"  routerLink="/homework">
        <div class="ion-text-center card text-color">
          <ion-row>
            <ion-col size="3" size-md="2">
              <div>
                <h6 class="m-0">
                  <ion-icon
                    class="Iconfont"
                    name="book-outline"
                    slot="start" [style.color]="'#a768f3'"
                  ></ion-icon>
                </h6>
              </div>
            </ion-col>
            <ion-col size="9" text-center>
              <div class="ion-text-center">
                <h6 class="m-0">
                  <ion-label slot="start">Home Work</ion-label>
                </h6>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
      <ion-col size="12"  routerLink="/attendence">
        <div class="ion-text-center card text-color">
          <ion-row>
            <ion-col size="3" size-md="2">
              <div>
                <h6 class="m-0">
                  <ion-icon [style.color]="'#ed1b60'"  class="Iconfont" name="calendar-outline" slot="start"></ion-icon>
               
                </h6>
              </div>
            </ion-col>
            <ion-col size="9" text-center>
              <div class="ion-text-center">
                <h6 class="m-0">
           
                  <ion-label slot="start">Attendance</ion-label>
                </h6>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
      <ion-col size="12"  routerLink="/reportcard">
        <div class="ion-text-center card text-color">
          <ion-row>
            <ion-col size="3" size-md="2">
              <div>
                <h6 class="m-0">
                  <ion-icon  [style.color]="'#f83f37'"   class="Iconfont" name="stats-chart-outline" slot="start"></ion-icon>
                </h6>
              </div>
            </ion-col>
            <ion-col size="9" text-center>
              <div class="ion-text-center">
                <h6 class="m-0">
          
                  <ion-label>Report Card <p style="color: grey;">Coming Soon</p></ion-label>
                </h6>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
      <ion-col size="12">
        <div class="ion-text-center card text-color">
          <ion-row>
            <ion-col size="3" size-md="2">
              <div>
                <h6 class="m-0">
                  <ion-icon [style.color]="'#22af47'"    class="Iconfont" name="notifications-outline" slot="start"></ion-icon>
                </h6>
              </div>
            </ion-col>
            <ion-col size="9" text-center>
              <div class="ion-text-center">
                <h6 class="m-0">
              
                  <ion-label>Notice <p style="color: grey;">Coming Soon</p></ion-label>
                </h6>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
      <ion-col size="12" >
        <div class="ion-text-center card text-color">
          <ion-row>
            <ion-col size="3" size-md="2">
              <div>
                <h6 class="m-0">
                  <ion-icon    [style.color]="'#ffbf36'"  class="Iconfont" name="help-outline" slot="start"></ion-icon>     
                </h6>
              </div>
            </ion-col>
            <ion-col size="9" text-center>
              <div class="ion-text-center">
                <h6 class="m-0">                   
                  <ion-label>Queries <p style="color: grey;">Coming Soon</p></ion-label>
                </h6>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
 
    </ion-row>
  </ion-grid> 
</ion-content>
