<app-header></app-header>
<ion-content>
 
  
  <ion-grid>
    <ion-row>
      <ion-col  text-center>

        <div>
          <p style="margin-bottom: 5px; text-align: center;">WELCOME</p>
          <h1>{{studentDetail?.Name}} {{studentDetail?.LastName}} <span>{{studentDetail?.ClassName}} - {{studentDetail?.SectionName}}</span></h1>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12"  routerLink="/homework">
        <div class="ion-text-center card text-color">
          <ion-row>
            <ion-col size="3" size-md="2">
              <div>
                <h6 class="m-0">
                  <ion-icon
                    class="Iconfont"
                    name="book-outline"
                    slot="start"
                  ></ion-icon>
                </h6>
              </div>
            </ion-col>
            <ion-col size="9" text-center>
              <div class="ion-text-center">
                <h6 class="m-0">
                  <ion-label slot="start">HomeWork</ion-label>
                </h6>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
      <ion-col size="12"  routerLink="/attendace">
        <div class="ion-text-center card text-color">
          <ion-row>
            <ion-col size="3" size-md="2">
              <div>
                <h6 class="m-0">
                  <ion-icon    class="Iconfont" name="calendar-outline" slot="start"></ion-icon>
               
                </h6>
              </div>
            </ion-col>
            <ion-col size="9" text-center>
              <div class="ion-text-center">
                <h6 class="m-0">
           
                  <ion-label slot="start">Attendance</ion-label>
                </h6>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
      <ion-col size="12">
        <div class="ion-text-center card text-color">
          <ion-row>
            <ion-col size="3" size-md="2">
              <div>
                <h6 class="m-0">
                  <ion-icon    class="Iconfont" name="stats-chart-outline" slot="start"></ion-icon>
                </h6>
              </div>
            </ion-col>
            <ion-col size="9" text-center>
              <div class="ion-text-center">
                <h6 class="m-0">
          
                  <ion-label>Report Card</ion-label>
                </h6>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
      <ion-col size="12">
        <div class="ion-text-center card text-color">
          <ion-row>
            <ion-col size="3" size-md="2">
              <div>
                <h6 class="m-0">
                  <ion-icon    class="Iconfont" name="notifications-outline" slot="start"></ion-icon>
                </h6>
              </div>
            </ion-col>
            <ion-col size="9" text-center>
              <div class="ion-text-center">
                <h6 class="m-0">
              
                  <ion-label>Notice</ion-label>
                </h6>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
      <ion-col size="12" routerLink="/homework">
        <div class="ion-text-center card text-color">
          <ion-row>
            <ion-col size="3" size-md="2">
              <div>
                <h6 class="m-0">
                  <ion-icon    class="Iconfont" name="help-outline" slot="start"></ion-icon>     
                </h6>
              </div>
            </ion-col>
            <ion-col size="9" text-center>
              <div class="ion-text-center">
                <h6 class="m-0">                   
                  <ion-label>Queries</ion-label>
                </h6>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
 <div class="ion-text-center">
    <ion-spinner *ngIf="isLoading"></ion-spinner>
  </div> 
    </ion-row>
  </ion-grid>  
</ion-content>
