<app-header></app-header>
<ion-content>
  <div class="page-breadcrumb">
    <p style="margin-bottom: 5px">WELCOME</p>
    <h1>Rishabh Singh <span>2nd - A</span></h1>


  </div>
  <ion-card  class="ion-text-center card">
   
    <ion-card-header>
 
      
     
      <ion-card-title>  <ion-icon name="book-outline" slot="start"></ion-icon> <h6 class="m-0"><a href="homework.html">Home Work</a></h6></ion-card-title>
  
    </ion-card-header>
 
  </ion-card>
  <ion-card  class="ion-text-center card">
    <ion-card-header>
      <ion-icon name="book-outline" slot="start"></ion-icon>
      <ion-card-title> <h6 class="m-0"><a href="homework.html">Home Work</a></h6></ion-card-title>
    </ion-card-header>

  </ion-card>
  <ion-card  class="ion-text-center card">
    <ion-card-header>
      <ion-icon name="book-outline" slot="start"></ion-icon>
      <ion-card-title> <h6 class="m-0"><a href="homework.html">Home Work</a></h6></ion-card-title>
    </ion-card-header>

  </ion-card>
  <ion-card  class="ion-text-center card">
    <ion-card-header>
      <ion-icon name="book-outline" slot="start"></ion-icon>
      <ion-card-title> <h6 class="m-0"><a href="homework.html">Home Work</a></h6></ion-card-title>
    </ion-card-header>

  </ion-card>
  <ion-card  class="ion-text-center card">
    <ion-card-header>
      <ion-icon name="book-outline" slot="start"></ion-icon>
      <ion-card-title> <h6 class="m-0"><a href="homework.html">Home Work</a></h6></ion-card-title>
    </ion-card-header>

  </ion-card>
  <ion-card  class="ion-text-center card">
    <ion-card-header>
      <ion-icon name="book-outline" slot="start"></ion-icon>
      <ion-card-title> <h6 class="m-0"><a href="homework.html">Home Work</a></h6></ion-card-title>
    </ion-card-header>

  </ion-card>
</ion-content>
